__pycache__/
.streamlit/
*.pyc
.ipynb_checkpoints/
.vscode/
.idea/
*.log
venv/
env/
.env
*.bin
**/data/model_cache/
backend/bias_module/data/model_cache/
node_modules/
dist/
build/
.streamlit_config/
.vercel/

